<div *ngIf="sesion">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/']">Alumnos</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03"
        aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav me-auto mb-2 mb-sm-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/']">Login</a>
          </li>
          <li class="nav-item" *ngIf="sesion">
            <a class="nav-link" [routerLink]="['/alumnos']">Alumnos</a>
          </li>
          <li class="nav-item" *ngIf="sesion">
            <a class="nav-link" [routerLink]="['/create']">Crear alumno</a>
          </li>
          <li class="nav-item dropdown" *ngIf="sesion">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Cursos</a>
            <ul class="dropdown-menu" *ngIf="sesion">
						<li *ngFor="let curso of cursos"
                  ><a class="dropdown-item" [routerLink]="['/alumnoscurso/'+ curso]">{{curso}}</a></li>
            </ul>
          </li>
          <li class="nav-item" *ngIf="sesion" >
            <a class="btn btn-danger " [routerLink]="['/']" (click)="cerrarSesion()">Cerrar sesion</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>